.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #1b1b1b;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  }
  
  .logoImage {
    height: 30px; /* Set logo height */
    width: auto;  /* Maintain aspect ratio */
  }
  
  .nav {
    display: flex;
    gap: 1.5rem;
  }
  
  .navLink {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.2s;
  }
  
  .navLink:hover {
    color: #00aaff;
  }
  
  .search {
    flex: 1;
    margin: 0 7rem;
  }
  
  .searchInput {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2a2a2a;
    color: white;
    outline: none;
  }
  
  .searchInput::placeholder {
    color: #aaa;
  }
  
  .profileButton {
    background-color: #00aaff;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .profileButton:hover {
    background-color: #0077cc;
  }
  